<div id="wrapper">
  <h1>Space Article Scraper & Note Taker !</h1>
  <h5 class="text-left">by Myles Alcala</h5>
  <h4>Articles from <i>space.com</i></h4>
  <div id="articles"></div>
  <div id="notes"></div>
  <button id="button">Scrape New Articles</button>
</div>